.formGrid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
  margin-top: 2rem;
}

.mapWrap {
  margin-top: 1rem;
}

@media (max-width: 1023px) {
  .formGrid {
    grid-template-columns: 1fr;
  }
}
